body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b870e2;
}

.gallery-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    border: 5px solid;
}

.gallery img:hover {
    transform: scale(1.05);
}

.footer {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(239, 233, 233);
}
